{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur</h1>

    <p>
        Nous sommes désolés, une erreur est survenue. Vous pouvez <a href="{{ path('homepage') }}">retourner à la page d'accueil</a>.
    </p>
{% endblock %}
